@model BuscadorDeProdutoViewModel;

@{
    ViewData["Title"] = "Busca de produtos";
}

@*Busca de produtos*@
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Buscar produtos</h2>
            
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form asp-action="BuscaDeProdutos" method="post">
                        <input type="text" name="pesquisa" class="form-control input-lg" placeholder="categoria ou produto" id="Pesquisa" value="@(Model.Pesquisa)" />
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*Fim da busca de produtos*@


@{
    IList<Categoria> categoria = new List<Categoria>();
}

@{ 
    if (Model.Produtos.Count == 0)
    {
        <br />
        <br />
        <p>Nenhum produto foi encontrado.</p>
    }
    
    @foreach (var item in Model.Produtos)
    {

        if (!categoria.Where(c => c.Id == item.Categoria.Id).Any())
        {
            categoria.Add(item.Categoria);
            <h3>@item.Categoria.Nome</h3>


            const int TAMANHO_PAGINA = 4;

            int paginas = (int)Math.Ceiling((double)Model.Produtos.Where(p => p.Categoria.Id == item.Categoria.Id).Count() / TAMANHO_PAGINA);

            <div id="my-carousel-@(item.Categoria.Id)" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @for (int pagina = 0; pagina < paginas; pagina++)
                    {

                        <div class="item @(pagina == 0 ? "active" : "")">
                            <div class="row">

                                @{
                                    var produtosDaPagina = Model.Produtos.Where(p => p.Categoria.Id == item.Categoria.Id).Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA);
                                }

                                @foreach (var produto in produtosDaPagina.Where(p => p.Categoria.Id == item.Categoria.Id))
                                {

                                    <div class="col-md-3 col-sm-3 col-lg-3">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <img class="img-produto-carrossel" src="/images/produtos/large_@(produto.Codigo).jpg" />
                                            </div>
                                            <div class="panel-footer produto-footer">
                                                <div class="produto-nome">@produto.Nome</div>
                                                <div><h4><strong>R$ @produto.Preco</strong></h4></div>
                                                <div class="text-center">
                                                    <a asp-action="carrinho"
                                                        asp-route-codigo="@produto.Codigo"
                                                        class="btn btn-success">Adicionar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Controls -->
                                    @if (Model.Produtos.Where(p => p.Categoria.Id == item.Categoria.Id).Count() > 4)
                                    {
                                        <a class="left carousel-control" href="#my-carousel-@(item.Categoria.Id)" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#my-carousel-@(item.Categoria.Id)" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    }
                                }

                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }
}